<p-toolbar [style]="{ 'border-radius': '0', 'padding': '1rem 1rem 1rem 1.5rem', 'position': 'fixed', 'width': '100%', 'z-index': '2', 'margin-top': '0', }">
    <ng-template #start>
        <div class="flex items-center gap-2">
            <div id="logo-header"></div>
        </div>
    </ng-template>

    <ng-template #end>
        <div class="flex items-center gap-2">
            <a [routerLink]="['/']" fragment="intro-section"><p-button label="Inicio" text plain /></a>
            <a [routerLink]="['/projects']" fragment="projects-section"><p-button label="Proyectos" text plain routerLink="/projects" /></a>
            <a [routerLink]="['/about']" fragment="about-section"><p-button label="Sobre mí" text plain/></a>
            <a [routerLink]="['/contact']" fragment="contact-section"><p-button label="Contacto" severity="contrast" size="small"  /></a>
        </div>
    </ng-template>
</p-toolbar>