/* Aseguramos que todos los botones tengan el mismo estilo */
::ng-deep .p-toolbar .p-button {
  margin: 0 !important; /* Eliminamos márgenes innecesarios */
}

/* Estilo específico para el botón "Contacto" */
::ng-deep .p-toolbar .p-button.p-button-sm {
  margin-left: 0.5rem !important; /* Ajustamos el margen izquierdo */
}

/* Logo de la cabecera */
#logo-header {
  background-image: url('../../assets/images/Logo-SM.svg'); /* Ruta de la imagen como fondo del contenedor */
  background-size: cover; /* Ajusta la imagen al tamaño del contenedor */
  background-position: center; /* Centra la imagen en el contenedor */
  background-repeat: no-repeat; /* Evita la repetición de la imagen */
  background-size: 80px; /* Tamaño de la imagen */
  width: 70px; /* Ancho del contenedor */
  height: 50px; /* Altura del contenedor */
  margin-left: 1rem; /* Margen izquierdo */
}
