/* Contenedor principal */
#main {
    display: flex; /* Utiliza flexbox */
    flex-direction: column; /* Alinea los elementos verticalmente */
    /* Alineación central en los ejes x e y */
    justify-content: center;
    align-items: center;
    padding: 0; /* Sin relleno */
    background-image: url('../../assets/images/fondo17.JPG'); /* Ruta de la imagen de fondo */
    background-size: cover; /* La imagen cubre el contenedor */
    background-position: center; /* Se centra la imagen */
    background-repeat: no-repeat; /* No se repite la imagen */
    cursor: default; /* Cursor por defecto */
}

/* Gradiente superior */
#gradient-intro {
  height: 30px; /* Altura del contenedor */
  width: 100%; /* Ocupa el ancho completo */
  /* Combinación de 3 tonos */
  background: linear-gradient(to top, rgba(0, 98, 255, 0) 0%, rgba(0, 98, 255, 0.1) 25%, rgba(0, 98, 255, 0.408) 100%);
}

/* Logo */
#logo-footer {
    background-image: url('../../assets/images/Logo-SM.svg'); /* Imagen de fondo */
    background-size: cover; /* Cubrir el contenedor con la imagen */
    background-position: center; /* Centrar la imagen */
    background-repeat: no-repeat; /* No se repite la imagen */
    background-size: 80px; /* Tamaño de la imagen */
    width: 70px; /* Ancho del contenedor */
    height: 50px; /* Altura del contenedor */
    margin-left: 1rem; /* Margen izquierdo */
}

p {
    margin-bottom: 2rem; /* Margen inferior */
}