<div id="gradient-intro"></div>
<div id="about-section">
    <div class="cont-txt">
        <h1>Un poco sobre mí</h1>
        <p>Me gusta ser autodidacta y absorber nueva información en cómo lograr el correcto funcionamiento de cada componente en un proyecto.
            Mi enfoque se basa en descomponer una idea en elementos más manejables, para llegar a la solución de una manera simplificada, pero eificiente. </p>
    </div>
    
    <div id="tech-stack-cont">
        <h2>Tecnologías que manejo</h2>
        
        <div class="subconts">
            <div class="logo-tech" id="html-logo" data-aos="flip-up" data-aos-duration="1000" data-aos-delay="50"></div>
            <div class="logo-tech" id="css-logo" data-aos="flip-up" data-aos-duration="1000" data-aos-delay="50"></div>
            <div class="logo-tech" id="js-logo" data-aos="flip-up" data-aos-duration="1000" data-aos-delay="50"></div>
            <div class="logo-tech" id="php-logo" data-aos="flip-up" data-aos-duration="1000" data-aos-delay="50"></div>
        </div>
        <div class="subconts">
            <div class="logo-tech" id="django-logo" data-aos="flip-up" data-aos-duration="1000" data-aos-delay="50"></div>
            <div class="logo-tech" id="angular-logo" data-aos="flip-up" data-aos-duration="1000" data-aos-delay="50"></div>
            <div class="logo-tech" id="vuejs-logo" data-aos="flip-up" data-aos-duration="1000" data-aos-delay="50"></div>
            <div class="logo-tech" id="express-logo" data-aos="flip-up" data-aos-duration="1000" data-aos-delay="50"><h2>ex</h2></div>
        </div>
        <div class="subconts">
            <div class="logo-tech" id="python-logo" data-aos="flip-up" data-aos-duration="1000" data-aos-delay="50"></div>
            <div class="logo-tech" id="java-logo" data-aos="flip-up" data-aos-duration="1000" data-aos-delay="50"></div>
            <div class="logo-tech" id="cs-logo" data-aos="flip-up" data-aos-duration="1000" data-aos-delay="50"></div>
        </div>
        <div class="subconts">
            <div class="logo-tech" id="mysql-logo" data-aos="flip-up" data-aos-duration="1000" data-aos-delay="50"></div>
            <div class="logo-tech" id="postgre-logo" data-aos="flip-up" data-aos-duration="1000" data-aos-delay="50"></div>
        </div>
    </div>
</div>
