<div id="projects-section">
    <div class="cont-txt">
        <h1>Proyectos</h1>
        <p>Estos son algunos de mis proyectos</p>
    </div>
    
    <div class="cont-proyectos">
        <!-- Proyecto 1 -->
        <p-card class="project-card" [style]="{ width: '25rem', height: '100%', display: 'flex', flexDirection: 'column' }" data-aos="zoom-in-up" data-aos-duration="2000" data-aos-delay="50">
            <ng-template #header>
                <img alt="Card" class="project-img" src="assets/images/project-img-1.png" />
            </ng-template>
            <ng-template #title> Sistema de administración de proyectos </ng-template>
            <ng-template #subtitle><p-tag value="Angular" severity="danger" /> | <p-tag value="Express" severity="contrast" /> | <p-tag value="PostgreSQL" severity="info" /></ng-template>
            <p class="card-description">
                Una solución escalable para un sistema enfocado en la gestión de proyectos a través de la autenticación de usuarios, asignación de roles y permisos. Puede interactuarse a través de una interfaz manejable para cualquier usuario.
            </p>
            <ng-template #footer>
                <div class="flex gap-4 mt-1">
                    <a href="https://github.com/Sergio12MG/FrontEnd-Proyectos.git" target="_blank"><p-button label="Ver" icon="pi pi-github" /></a>
                </div>
            </ng-template>
        </p-card>

        <!-- Proyecto 2 -->
        <p-card class="project-card" [style]="{ width: '25rem', height: '100%', display: 'flex', flexDirection: 'column' }" data-aos="zoom-in-up" data-aos-duration="2000" data-aos-delay="50">
            <ng-template #header>
                <img alt="Card" class="project-img" src="assets/images/project-img-2.png" />
            </ng-template>
            <ng-template #title> Aplicación para la gestión de inventarios </ng-template>
            <ng-template #subtitle><p-tag value="Vue.js" severity="success" /> | <p-tag value="Express" severity="contrast" /> | <p-tag value="PostgreSQL" severity="info" /></ng-template>
            <p class="card-description">
                Con un servidor que se conecta a dos bases de datos las cuales se ejecutan en paralelo en contenedores individuales de Docker, se logra la separación de responsabilidades en la autenticación de usuarios y los servicios centrales de la aplicación.
            </p>
            <ng-template #footer>
                <div class="flex gap-4 mt-1">
                    <a href="https://github.com/Sergio12MG/Frontend-Inventario.git" target="_blank"><p-button label="Ver" icon="pi pi-github" /></a>
                </div>
            </ng-template>
        </p-card>

        <!-- Proyecto 3 -->
        <p-card class="project-card" [style]="{ width: '25rem', height: '100%', display: 'flex', flexDirection: 'column' }" data-aos="zoom-in-up" data-aos-duration="2000" data-aos-delay="50">
            <ng-template #header>
                <img alt="Card" class="project-img" src="assets/images/project-img-3.png" />
            </ng-template>
            <ng-template #title> Sistema de administración y búsqueda de bienes raíces </ng-template>
            <ng-template #subtitle><p-tag value="PHP" severity="help" /> | <p-tag value="HTML" severity="warn" /> | <p-tag value="CSS" severity="info" /> | <p-tag value="JavaScript" severity="warn" /> | <p-tag value="MySQL" severity="contrast" /></ng-template>
            <p class="card-description">
                El propósito de este proyecto es brindar a los clientes y agentes inmobiliarios una manera sencilla y objetiva para navegar por diferentes ofertas publicadas por los propietarios de cualquier tipo de inmueble.
            </p>
            <ng-template #footer>
                <div class="flex gap-4 mt-1">
                    <a href="https://github.com/Sergio12MG/ProyectoBasesdeDatos.git" target="_blank"><p-button label="Ver" icon="pi pi-github" /></a>
                </div>
            </ng-template>
        </p-card>
    </div>
    <div id="gradient-exit"></div>
</div>