<div id="intro-section">
  <video autoplay muted loop class="video-fondo">
    <source src="assets/videos/fondo1.mp4" type="video/mp4">
  </video>
  
  <div class="contenido">
    <div class="cont-txt">
      <h1>¡Hey! Soy</h1>
      <p>Sergio Mejía</p>
    
      <div class="cont-ext">
        <div class="cont-escritor">&lt; Desarrollador web <span id="txt-especial">fullstack </span> /&gt;</div>
      </div>
    </div>
  
    <div class="cont-btns">
      <a [routerLink]="['/contact']" fragment="contact-section"><div pRipple id="btn-1" class="btn">Empezar un proyecto</div></a>
      <a [routerLink]="['/projects']" fragment="projects-section"><div pRipple id="btn-2" class="btn">Ver ejemplos</div></a>
    </div>
  </div>

  <div id="gradient-exit"></div>
</div>