/* Estilo para el contenedor principal */
:host {
  display: block; /* Hace que el contenedor ocupe toda la altura de la pantalla */
  position: relative;
  height: 100vh; /* Ocupa toda la altura de la pantalla */
}
